{
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "importOrder": [
    "^@nestjs/(.*)$",
    "^rxjs",
    "<THIRD_PARTY_MODULES>",
    "^@/modules/(.*)$",
    "^.*\\.service$",
    "^@/decorators",
    "^@/decorators/(.*)$",
    "^@/config/(.*)$",
    "^@/common/(.*)$",
    "^@/utils/(.*)$",
    "^@(.*)$",
    "^src/(.*)$",
    "^\\.\/entities\/.*$",
    "^\\.\/dto\/.*$",
    "^[./]"
  ],
  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
  "importOrderMergeDuplicateImports": true,
  "importOrderCombineTypeAndValueImports": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
